@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}
.active {
  background-color: #ffebf5;
  border-bottom: 2px #c558a5 solid;
}
select,input,textarea {
  border:1px solid #c2c2c2;
  outline-color: #c586A5;
  border-radius: 4px;
}